/* Menetapkan warna yang sama untuk navbar dan footer */
.navbar, .footer {
    background-color: #007bff; /* Warna biru dari bg-primary di Bootstrap */
    color: #fff;
}

/* Menetapkan tinggi tetap untuk header dan footer */
.navbar {
    height: 60px; /* Sesuaikan dengan kebutuhan Anda */
}

.footer {
    height: 60px; /* Sesuaikan dengan kebutuhan Anda */
    line-height: 60px; /* Menjaga teks tetap di tengah secara vertikal */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff; /* Sama dengan warna navbar */
    color: #fff;
    text-align: center;
}

/* Menambahkan padding untuk konten agar tidak tertutup oleh footer */
body {
    padding-bottom: 60px; /* Sama dengan tinggi footer */
}
